.about__first {
    margin-top: 3rem;
}

.first-container {
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 5rem;
}

.first-right > p {
    margin: 1.6rem 0 2.5rem;
    text-align: center;
    line-height: 50px;
}

/*================== team =================*/
.team {
    background: var(--color-bg1);
    box-shadow: inset 0 0 3rem reba(0, 0 , 0, 0.5);
}

.team__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.team__member {
    background: var(--color-bg2);
    padding: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.team__member:hover {
    background: transparent;
    background-color: var(--color-primary);
}

.team__member-info * {
    text-align: center;
    margin-top: 1.4rem;
}

@media screen and (max-width: 1024px) {
    .about__first {
        margin-top: 2rem;
    }

    .first-container {
        grid-template-columns: 1fr;
        gap: 4rem;
    }

    .first-left {
        width: 80%;
        margin: 0 auto;
    }

    .team__container {
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem;
    }

    .team__member {
        padding: 1rem;
    }
}

@media screen and (max-width: 600px){
    .team__container {
        grid-template-columns: 1fr 1fr;
        gap: 0.7rem;
    }

    .team__member {
        padding: 0;
    }

    .team__member h4 {
        margin-bottom: 1.5rem;
    }

    
}